<li>
<p>
<strong>Book Name</strong>
<%= @book.book_name%>
</p>
</li>

<li>
<p>
<strong>Book ISBN</strong>
<%= @book.book_ISBN%>
</p>
</li>

<li>
<p>
<strong>Book Publisher</strong>
<%= @book.book_publisher%>
</p>
</li>

<li>
<p>
<strong>Year Published</strong>
<%= @book.book_year%>
</p>
</li>